<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <style>
    </style>
</head>
<body>
    <div class="card">
        <div class="blur"></div>
        <a href="https://www.bilibili.com/video/BV12s41197Sp" class="h1"></a>
        <form action="" class="login">
            <input class="login_input" type="password" placeholder="请输入密码">
            <a class="login_button" href="https://www.bilibili.com">
                <span class="login_text clearfix">登录</span>
            </a>
        </form>
        <div class="circle"></div>
    </div>
</body>
<script type="text/javascript" src="../static/js/login.js"></script>
</html>